#btn_addNewSubject {
    position: fixed;
    font-size: var(--size_btn_addNewSubject);
    color: var(--primaryColor);
    bottom: var(--margin_btn_addNewSubject);
    right: var(--margin_btn_addNewSubject);
}

#btn_addNewSubject_icon {
    position: absolute;
    font-size: var(--size_btn_addNewSubject_icon);
    color: var(--secondaryColor);
    bottom: calc((var(--size_btn_addNewSubject) - var(--size_btn_addNewSubject_icon)) / 2);
    right: calc((var(--size_btn_addNewSubject) - var(--size_btn_addNewSubject_icon)) / 2);
}
