#deleteWarning {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteWarningBox {
    background-color: var(--primaryColor);
    padding: 18px;
    border-radius: 8px;
    max-width: 85%;
}

#deleteWarningBox h2 {
    font-family: var(--secondaryFont);
    border-radius: 6px;
    color: var(--secondaryColor);
    margin-bottom: 12px;
}

#deleteWarningBox button {
    width: 82px;
    height: 28px;
}

#deleteWarningBox button:first-child {
    margin-right: 8px;
}
