@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* Color Palette */
    --primaryColor: rgb(20, 20, 20);
    --secondaryColor: rgb(201, 201, 201);
    --disabledColor: rgb(120, 120, 120);

    /* Fonts */
    --primaryFont: 'Rubik', sans-serif;
    --secondaryFont: 'Open Sans', sans-serif;

    /* Button to add new subjects */
    --size_addSubjectBtn: 72px;
    --size_addSubjectBtnIcon: 48px;
    --margin_addSubjectBtn: 16px;
}

html, body {
    height: 100%;
    user-select: none;
}

.hide {display: none;}
.show {display: block;}
.disableScroll {overflow: hidden;}
