:root {
    /* Color Palette */
    --primaryColor: rgb(20, 20, 20);
    --secondaryColor: rgb(0, 165, 55);

    /* Button to add new subjects */
    --size_btn_addNewSubject: 72px;
    --size_btn_addNewSubject_icon: 48px;
    --margin_btn_addNewSubject: 16px;
}
