:root {
    /* Color Palette */
    --primaryColor: rgb(20, 20, 20);
    --secondaryColor: rgb(201, 201, 201);

    /* Button to add new subjects */
    --size_addSubjectBtn: 72px;
    --size_addSubjectBtnIcon: 48px;
    --margin_addSubjectBtn: 16px;
}
