#maxSubject {
    padding: 0 28px;
    padding-bottom: 32px;  /* This value should match the navbar padding */
}

#maxSubject hr {
    background-color: rgb(196, 196, 196);
    border: none;
}

/* --- The Subject --- */
#maxSubject .subject h2 {
    font-size: 24px;
    font-family: var(--primaryFont);
    margin-bottom: 18px;
}

#maxSubject .subject span {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#maxSubject .subject span:not(:last-child) {
    margin-bottom: 10px;
}

#maxSubject .subject input {
    min-width: 22px;
    min-height: 22px;
    margin: 0;
}

#maxSubject .subject label {
    width: 100%;
    font-size: 16px;
    font-family: var(--secondaryFont);
    line-height: 1.5;
    margin: 0 6px;
}

/* --- Navigation Bar --- */
#maxSubjectNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
}

#maxSubjectNavbar span {
    font-size: 30px;
}

#maxSubjectNavbar div:last-child span:not(:last-child) {
    margin-right: 8px;
}