#maxSubjectNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 28px;
}

#maxSubjectNavbar span {
    font-size: 30px;
}

#maxSubjectNavbar div:last-child span:not(:last-child) {
    margin-right: 8px;
}